<!doctype html>
<html>
    <head>
        <title>Contato page</title>
    </head>
    <body>
        <h1>QuarentECA, po!</h1>
        <form action="/obrigado" method=POST>
            <input type="text" name ="name" id="name" value="Nome da Empresa">
            <input type="email" name ="email" id="email" value="email">
            <input type="number" name ="telefone" id="telefone" value="telefone">
            <input type="submit" value="mandar forma de contato">
        </form>
    </body>
    
</html>