<!doctype html>
<html>
    <head>
    </head>
    <nav>
        <a href="./">ECA</a>
        <a href="./contato">Entre em contato conosco</a>
      </nav><br>
    <body>
        <div>Preenchendo suas informações, entraremos em contato te explicando tudo</div><br>
        <h1>Preencha o Formulário</h1>
        <form action="/obrigado" method=POST>
            <div class="tit">Nome da Empresa</div>
            <input type="text" name ="name" id="name" ><br>
            <div class="tit">Email de contato</div>
            <input type="email" name ="email" id="email" ><br>
            <div class="tit">Telefone</div>
            <input type="number" name ="telefone" id="telefone"><br>
            <div class="tit">Enviar</div>
            <input type="submit" >
        </form>
    </body>
    
</html>