<!DOCTYPE html>
<html>

<head>
    <style>
        
    </style>
</head>

<body>
  <nav>
    <a href="./home.html">ECA</a>
    <a href="./contato.html">Entre em contato conosco</a>
  </nav>
  <h1>Nosso Projeto</h1>
  <nav>
    <ul>
      <li><a href="#motivação">A motivacao</a></li>
      <li><a href="#Processo">Nosso Processo</a></li>
      <li><a href="#Futuro">Ideias Para o Futuro</a></li>
    </ul>
  </nav>
  <div id="motivação">
    <h2>A motivação</h2>
    <p>bla vla bla bla vla bla bla vla</p>
  <div id="Processo">
    <h3>Nosso Processo</h3>
    <p>bla vla bla bla vla bla bla vla</p>
  </div>
  <div id="Futuro">
    <h4>Ideias Para o Futuro</h4>
      <p>bla vla bla bla vla bla bla vla</p>
  </div>
    
</body>

</html>