<!DOCTYPE html>
<html>

<head>
  <style>

  </style>
</head>

<body>
  <nav>
    <a href="./">ECA</a>
    <a href="./contato">Entre em contato conosco</a>
  </nav>
  <h1>Nosso Projeto</h1>
  <nav>
    <ul>
      <li><a href="#Selo">Nosso Selo</a></li>
      <li><a href="#Parceiros">Nossos Parceiros</a></li>
      <li><a href="#motivação">A motivacao</a></li>
    </ul>
  </nav>
  <div id="selo">
    <h3>Nosso Selo</h3>
    <p>
      A vantagem para a empresa consiste em ser reconhecida pela sua transparência e respeito ao consumidor,
      através do recebimento do Selo de Comprometimento de Combate ao Coronavírus.
    </p>
  </div>
  <div id="parceiros">
    <h4>Nossos Parceiros</h4>
    <p>
      Essas são as empresas que já entraram para a iniciativa, e estão ajudando a combater o Covid
    </p>
    <div id="como-participar">
      <h2>Como Participar</h2>
      <p>
        Para Participar é simples, só entrar em contato conosco que 
        nós te auxiliaremos a implantar a ferramenta com segurança e confiança  
      </p>
    </div>

</body>

</html>