<!DOCTYPE html>
<html>
  
header {
grid-area: header;
background-color:lightblue;

}

main {
grid-area: main;
background-color: #efefef;
}

footer {
grid-area: footer;
background-color: #e23939;
}

.qteca {
  float: right;
  font-size: 18px;
}

<header>
  <nav>
    <a href="./">ECA</a>
    <a href="./contato">Entre em contato conosco</a>
  </nav><br>

</header>
<main>
<div>Agradecemos a Colaboração!</div><br>

<a href="./">Retorne à pagina principal</a><br>
</main>

<footer>
  <p class="qteca">
    Projeto QuarentECA 
</p>
</footer>

</html>